
body{
background-color:  hsl(0, 0%, 95%);
margin:0 auto;
color: hsla(0, 0%, 100%, 0.75);
}
.project{
  max-width: 960px;
  margin: auto;
  margin-top: 11.5%;
   display:flex;
}
.first-column{
  width: 320px;
  height: 500px;
  background-color: hsl(31, 77%, 52%);
  display: inline-block;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.second-column{
  width: 320px;
  height: 500px;
  background-color: hsl(184, 100%, 22%);
  display: inline-block;
}
.third-column{
  width: 320px;
  height: 500px;
  background-color: hsl(179, 100%, 13%);
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.image1, .image2, .image3{
  padding: 40px 0 0 40px;
}
.name1, .name2, .name3{
 padding: 0px 45px 0px 35px;
 font-size: 24px;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  opacity: 0.8;
  color: hsl(0, 0%, 100%);

}
.text1, .text2, .text3{
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 16px;
 padding: 0px 50px 0px 35px;
 word-spacing: 2px;
 line-height: 25px;
}
h1{
    margin-top: 0px;

}
.buttons{
  align-items: center;
}
.button1{
  color:  hsl(31, 77%, 52%);
}
.button2{
  color: hsl(184, 100%, 22%);
}
.button3{
  color: hsl(179, 100%, 13%);
}
h3{
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
margin-left: 60px;
margin-top: 40px;
padding: 14px 12px 14px 12px ;
width: 40%;
text-align: center;
font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  border: 2px solid hsl(0, 0%, 95%);
}
.h3-1:hover{
  background-color: hsl(31, 77%, 52%);
  cursor: grab;
  color: white;
}
.h3-2:hover{
  background-color:  hsl(184, 100%, 22%);
  cursor: grab;
  color: white;
}
.h3-3:hover{
  background-color: hsl(179, 100%, 13%);
  cursor: grab;
  color: white;
}
.attribution{
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 680px) {
  .project{
    max-width: 330;
    display: inline-block;
margin: 15% 0 0 15%;
  }
  .first-column{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .third-column{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
  .attribution{
    position: relative;
    margin-top: 50px;
  }
}
